@charset "utf-8";
  *{
    margin: 0;
    padding: 0;
  }
  
  a{
    color: black;
  }

  a:hover{
    color: rgb(105, 105, 105);
    text-decoration: none;
  }

  .wrapper{
    padding-top: 10%;
  }
  .slideshow > li {
    list-style-type: none;
    opacity: 0;
    position: absolute;
    transition: opacity 3s ease-in-out;
  }
  .slideshow > li.showSlide {
    opacity: 1;
  }
  .slideshow > li > img {
    width :100%;
    height: auto;
  }

body {
    background-color: #f0f3f5;
	font-family: 'Roboto';
}

.box1 {
	background-color: #fff;
	padding: 25px 40px;
	margin-top: 30px; /*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group1 {
	margin: 5px 0px;
}

.addon-facebook1 {
	background-color: #345387;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-facebook1,
.btn-facebook1:hover {
	background-color: #4b6ea9;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-twitter1 {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter1,
.btn-twitter1:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary1 {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 10px 0px;
}

.divider-form1 {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

.label1 {
	text-transform: uppercase;
	color: #363636;
}

strong {
	color: #95a5bb;
}

.form-control1 {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control1:focus {
    box-shadow: none;
}
.img-fluid{
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.rounded-circle{
  width: 75px;
  height: 75px;
  object-fit: cover;
}
#preview{
  width: 200px;
  height: auto;
}
.show_picture{
  width: auto;
  height: auto;
  object-fit: cover;
}
.good{
  color: rgb(236, 52, 52);
}
.good_count{
  font-size: 25px;
  text-decoration: none;
}
.good:hover{
  color: rgb(243, 102, 102);
  text-decoration: none;
}
.error{
  color: red;
}

.header_img{
  width: 100%;
  height: 15rem;
  background-color: #4b6ea9;
}
nav,.container-fluid,.card-body,span,.tab_item,.main_content,.right_content,.comon{
  padding: 0;
  margin: 0;
}

.left_content{
  width: 100%;
  height: aout;
}

.line{
  margin-top: 1rem;
  border-right:3px solid #494d4c;
}

.myPage_img{
  width: 10rem;
  height: 10rem;
}

.user_name{
  text-align: center;
  font-size: 2rem;
}

.follow_btn{
  text-align: center;
}

.card-text{
  padding-left: 4rem;
}
.my_card-text{
  padding-left: 7rem;
}

/*タブ切り替え全体のスタイル*/
.tabs {
  padding-bottom: 40px;
  width: 100%;
  margin: 0 auto;}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #5ab4bd;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  clear: both;
  overflow: hidden;
  margin: 0;
}


/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #5ab4bd;
  color: #fff;
}

.tenSen{
  border-right:3px dotted #494d4c;
  width: 1rem;
  height: 10rem;
}

.write{
  position:fixed;
  right:13rem;
  bottom:4rem;
  transition:0.3s;
  opacity:1;
}

.write:hover{
  opacity:0.7;
}

@media screen and (max-width: 480px) {

  .wrapper{
    margin-top: 3rem;
  }

  .write{
    width: 1em;
    height: auto;
    position:fixed;
    right:1rem;
    bottom:1rem;
    transition:0.3s;
    opacity:1;
  }

  .write:hover{
    opacity:0.7;
  }

  .date{
    display: none;
  }
}