@charset "utf-8";
  *{
    margin: 0;
    padding: 0;
  }
  
  /* スライドショー */
  #wrapper{
    width: 100%;
    margin: 0 auto;
  }
  .wrapper{
    padding-top: 10%;
  }
  .slideshow > li {
    list-style-type: none;
    opacity: 0;
    position: absolute;
    transition: opacity 3s ease-in-out;
  }
  .slideshow > li.showSlide {
    opacity: 1;
  }
  .slideshow > li > img {
    width :100%;
    height: auto;
  }

body {
    background-color: #f0f3f5;
	font-family: 'Roboto';
}

.box1 {
	background-color: #fff;
	padding: 25px 40px;
	margin-top: 30px; /*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group1 {
	margin: 5px 0px;
}

.addon-facebook1 {
	background-color: #345387;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-facebook1,
.btn-facebook1:hover {
	background-color: #4b6ea9;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-twitter1 {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter1,
.btn-twitter1:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary1 {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 10px 0px;
}

.divider-form1 {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

.label1 {
	text-transform: uppercase;
	color: #363636;
}

strong {
	color: #95a5bb;
}

.form-control1 {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control1:focus {
    box-shadow: none;
}
.img-fluid{
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.rounded-circle{
  width: 75px;
  height: auto;
  object-fit: cover;
}
#preview{
  width: 200px;
  height: auto;
  object-fit: cover;
}
.show_picture{
  width: 625px;
  height: auto;
}
.good{
  color: rgb(236, 52, 52);
}
.good_count{
  font-size: 25px;
  text-decoration: none;
}
.good:hover{
  color: rgb(243, 102, 102);
  text-decoration: none;
}
.error{
  color: red;
}